

/* Home */

.home {
  background-image: url('../assets/images/paisaje2.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center 93%;
  background-size: cover;
}

.links {
  position: absolute;
  bottom: 50px;
}

.links a {
  border: 1px solid white;
  color: white;
  font-weight: bold;
}
