/* EFECTO SPLASH */
.pre-load {
  border: 6px solid rgb(218, 205, 24);
  border-top-color: rgb(113, 218, 53);
  border-top-style: groove;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  position: absolute;
  left: 45%;
  top: 60%;   
  -webkit-animation: girar 1.5s linear infinite;
  -o-animation:  girar 1.5s linear infinite;
  animation:  girar 1.5s linear infinite;
}

@keyframes girar {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}