.capitalize {
  text-transform: capitalize;
}

/*  header*/
.border-nav {
  border: 2px solid #7B1FA2;
  border-radius: 5px;
  color: #ffff;
}

.purple {
  box-shadow: 2px 2px 1px 1px #6a1b9a inset;
}

/* Logo Team */
.brand-logo {
  font-family: 'Cabin Sketch', cursive;
} 

/*barra de perfil*/
.card-panel {
  width: 100%;
}

.img-user {
  border: 2px solid gray;
  border-radius: 50%;
  display: block;
  height: 100px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 15px;
  width: 100px;
}

.name-news {
  color: #ffff;
  margin-bottom: 25px;
  text-align: center;
}

/*posts*/
.container-user {
  padding-top: 25px;
  padding-bottom: 15px;
}

.border-post {
  border-radius: 3px;
  box-shadow: 0.2px 0.3px 5px gray inset;
  display: inline-block;
  margin-top: 10px;
  padding-top: 35px;
  position: relative;
  width: 90%;
}

.color-purple {
  color: #4527A0;
}

.color-purple:hover {
  border-radius: 5px;
  box-shadow: 0.2px 0.3px 10px gray inset;
  color: #7B1FA2;
  padding: 3px;
}

.likes:hover {
  border-radius: 5px;
  box-shadow: 0.2px 0.3px 10px gray inset;
  color: #7B1FA2;
  padding: 3px;
}

/*color de texto en botones*/

.text-color {
  color: #ffff;
}

label.text-color::before {
  border: 1.5px solid #ffff;
  border-radius: 4px;
}

/*container de likes, force, love*/
.text-purple {
  color: #7B1FA2;
}

/*hidden*/
.hidden {
  display: none;
}

.width-line {
  display: inline-block;
  width: 0;
}

.btn-add-photo {
  height: 40px;
  padding: 0;
  margin: 0;
}
