/*#8ACB25 - Verde amarillento
#61C531
#D0E65F - Amarillo verdoso

724677 y F38627 o B5D8BA*/
* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

.capitalize {
  text-transform: capitalize;
}

/*  header*/
.border-nav {
  border: 2px solid #7B1FA2;
  border-radius: 5px;
  color: #7B1FA2;
}

.yellow {
  box-shadow: 2px 2px 10px #ffea00 inset;
}

/*  perfil*/
.user-image {
  margin: auto;
  width: 10%;
}

.container-user {
  padding-top: 25px;
  padding-bottom: 25px;
}

.btn-follow {
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
  width: 60px;
}

.tab {
  overflow-x: hidden;
}

.scroll-hidden {
  overflow-x: hidden;
}

.card-tabs {
  padding-left: 20px;
  padding-right: 20px;
}

/*paneles de usuario*/

.card-info {
  margin: 0;
}

/*posts*/

.border-post {
  border-radius: 3px;
  box-shadow: 0.2px 0.3px 5px gray inset;
  left: 6%;
  padding-top: 35px;
  position: relative;
  width: 90%;
}
