<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>News</title>
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/login.css">
</head>
<body>
  <header>
    <!-- Menú -->
    <nav class="purple darken-2">
      <div class="container nav-wrapper">
        <a href="#!" class="brand-logo center">Team</a>
      </div>
    </nav>
  </header>
  <div class="container">
    <div class="carousel carousel-slider center" data-indicators="true">
      <div class="carousel-fixed-item center">
        <a id="login" class="btn waves-effect white grey-text darken-text-2">Únete</a>
      </div>
      <div class="images-login-1 carousel-item red white-text" href="#one!">
        <div id="root"></div>
      </div>
      <div class="images-login-2 carousel-item amber white-text" href="#two!">
        <h2>Éste es el momento del cambio</h2>
      </div>
      <div class="images-login-3 carousel-item green white-text" href="#three!">
        <h2>Juntos con un solo objetivo</h2>
      </div>
    </div>
  </div>
  <!--Scripts-->
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="../vendors/materialize/js/materialize.js"></script>
  <script src="../js/login.js"></script>
</body>
</html>
